.trendingList {
  padding: 10px;
  display: inline-block;
}

.trendingTitle {
  padding: 10px;
}

.movieLink {
  color: black;
  text-decoration: none;
}

.movieLink:hover {
  color: #5a70ec;
  text-decoration: underline;
  
}

.movieItem:hover {
  list-style-type: none;
}