.btnGoBack {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: none;
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.75);
  color: white;
  background-color: rgb(163, 157, 157);
  border-radius: 5px;
  cursor: pointer;
}

.btnGoBack:hover {
  
  color: white;
  background-color: violet;
  
}

.MovieBlock {
  padding: 10px;
  
}

.mainMovieBlock {
  display: flex;
  padding: 10px;
  /* border-bottom: 1px solid; */
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.75);
}

.mainMovieInfo {
  margin-left: 20px;
}

.additionalInfoBlock {
  padding: 10px;
  /* border-bottom: 1px solid; */
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.75);
}
